.App {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
}
