.form {
	max-width: 760px;
	padding: 20px;
	border: 2px solid black;
	border-radius: 15px;
	margin: 30px auto;
}

.form-input {
	max-width: 400px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.form-input-group {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.form-input-group > input {
	grid-column: span 2 / span 2;
}

.form-input-group > .error-message {
	grid-column: span 2 / span 2;
	color: red;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-submit {
	border: 1px solid blue;
	background-color: blue;
	padding: 10px 15px;
	border-radius: 10px;
	font-weight: bold;
	color: white;
}

.button-disabled {
	border: 1px solid gray;
	background-color: gray;
	padding: 10px 15px;
	border-radius: 10px;
	font-weight: bold;
	color: white;
}

#components-layout-demo-custom-trigger .trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
	color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
	background: #fff;
}
